# OS-specific files
.DS_Store        # macOS
Thumbs.db        # Windows

# VS Code settings
.vscode/

# Logs
*.log

# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Cache/temp folders
.cache/
tmp/
